:root {
    --blue: #1a2456;
    --lightOrange: #ff8b68;
    --orange: #ff501c;
    --black: #080b1b;
    --hover: #f0efed;
    --pink: #efc2b3;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Poppins", sans-serif;
    background: #e1e1e1;
}

ul {
    list-style-type: none;
}

img {
    max-width: 100%;
    height: auto;
}

button,
input {
    font-family: inherit;
}

header {
    padding: 5px;
}

nav {
    background: var(--blue);
    color: #fff;
    z-index: 99;
}

main {
    padding: 100px 0 0;
}

h1,
h2,
h3 {
    color: var(--blue);
}

input {
    background: inherit;
    border: 1px solid var(--pink);
    color: var(--pink);
    text-indent: 15px;
}

.logo {
    margin: 5px;
}

nav li:hover {
    color: var(--pink);
}

.mobile__nav {
    display: flex;
    align-items: center;
    position: fixed;
    background: var(--blue);
    width: 100%;
}

.mobile__nav i {
    color: var(--pink);
}

.mobile__nav li:nth-of-type(2) {
    margin-left: auto;
}

.desktop__nav {
    display: none;
}

.fa-shopping-bag {
    margin: 0 20px;
    cursor: pointer;
}

.fa-chevron-left {
    cursor: pointer;
}

.shop {
    font-weight: 600;
}

.dropbtn {
    background: inherit;
    color: #fff;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    background-color: #f9f9f9;
    max-width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
    padding: 0 10px;
}

  .dropdown-content a {
    float: none;
    color: black;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdown-content a:hover {
    background-color: var(--hover);
}

.first-section {
    height: 400px;
    background: url(images/shop-cta-mobile.webp);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: left;
    padding: 100px 0 0 150px;
    position: relative; /*arrow*/
}

.create-you-own-image {
    text-align: center;
    height: auto;
    width: 100%;
}

.create-own-console {
    height: auto;
    width: 100%;
    position: relative;
    margin: 50px 0;
}

.create-own-text {
    position: absolute;
    top: 0;
    z-index: 5;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
}

.create-own-console h1 {
    max-width: 10ch;
    margin: auto;
}

.create-own-banner {
    width: 100%;
    height: 300px;
}

.console-inner-flex {
    display: flex;
}

.price-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer {
    color: var(--pink);
    background: var(--blue);
    padding: 50px 25px;
}

.icon {
    color: var(--blue);
    background: var(--pink);
    border-radius: 50%;
    padding: 10px;
}

.icons-row {
    display: flex;
}

.fa-instagram,
.fa-twitter,
.fa-facebook,
.fa-youtube {
    margin: 10px;
}

.footer__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: flex-start;
    gap: 20px;
}

/* all the images with hover effect */
.traveler-image,
.studio-image,
.master-image,
.core-image,
.orbiter-image,
.dialhero-image,
.slider-image,
.keys-image {
    position: relative;
}

.traveler-image::after {
    content: "";
    background: url(images/Consoles_TravelerBracket1_Mobile.webp);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 0;
    width: 100%;
    height: 250px;
    opacity: 0;
}

.traveler-image:hover::after {
    opacity: 1;
}

.studio-image::after {
    content: "";
    background: url(images/Consoles_StudioBracket1_Mobile.webp);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 0;
    width: 100%;
    height: 250px;
    opacity: 0;
}

.studio-image:hover::after {
    opacity: 1;
}

.master-image::after {
    content: "";
    background: url(images/Consoles_MasterBracket1_Mobile.webp);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 0;
    width: 100%;
    height: 250px;
    opacity: 0;
}

.master-image:hover::after {
    opacity: 1;
}

.core-image::after {
    content: "";
    background: url(images/Consoles_CoreBracket1_Mobile.webp);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 0;
    width: 100%;
    height: 250px;
    opacity: 0;
}

.core-image:hover::after {
    opacity: 1;
}

.orbiter-image::after {
    content: "";
    background: url(images/Consoles_OrbiterHero_Desktop.webp);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 0;
    width: 100%;
    height: 250px;
    opacity: 0;
}

.orbiter-image:hover::after {
    opacity: 1;
}

.dialhero-image::after {
    content: "";
    background: url(images/Consoles_DialBracket_Desktop.webp);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 0;
    width: 100%;
    height: 250px;
    opacity: 0;
}

.dialhero-image:hover::after {
    opacity: 1;
}

.slider-image::after {
    content: "";
    background: url(images/Consoles_SliderBracket1_Desktop.webp);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 0;
    width: 100%;
    height: 250px;
    opacity: 0;
}

.slider-image:hover::after {
    opacity: 1;
}

.keys-image::after {
    content: "";
    background: url(images/Consoles_KeysBracket_Desktop.webp);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 0;
    width: 100%;
    height: 250px;
    opacity: 0;
}

.keys-image:hover::after {
    opacity: 1;
}

.disclaimer {
    font-size: 13px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: var(--blue);
    padding: 10px 40px;
}

.disclaimer-flex {
    display: flex;
    width: 100vw;
    justify-content: space-evenly;
    font-weight: bold;
    align-items: center;
    padding: 10px;
}

.understand {
    background: var(--blue);
    color: #fff;
    padding: 3px 30px;
    border-radius: 20px;
    text-transform: uppercase;
    cursor: pointer;
}

.desktop-nav-open {
    display: block;
    position: absolute;
    background: var(--blue);
    width: 100vw;
    top: 50px;
    left: 0;
    text-align: center;
    padding: 10px 50px 50px;
    margin: 5px;
    z-index: 52;
}

.footer-list-title {
    font-weight: 700;
    padding: 10px 0;
}

.fa-chevron-down {
    color: #fff;
    position: absolute;
    bottom: 50px;
    left: 50%;
}

.side-panel {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 320px;
    background: #fff;
    z-index: 100;
}

.side-panel-flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: var(--blue);
    color: #fff;
    padding: 25px 0;
    text-transform: uppercase;
    font-weight: 600;
}

.indicator {
    text-align: center;
    padding: 50px 0;
}

.circle {
    background: var(--blue);
    width: 75px;
    height: 75px;
    border-radius: 75px;
    margin: 5px;
}

.guarantee-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 13px;
}

.column {
    flex-direction: column;
    width: 220px;
}

.column h3 {
    margin: 25px 0 0;
}

.column p {
    padding: 10px 0 0;
}

.side-panel-footer {
    background: var(--blue);
    color: #fff;
    position: absolute;
    bottom: 0;
    width: 320px;
    text-align: center;
}

.subtotal-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.checkout {
    width: 200px;
    padding: 5px 0;
    border-radius: 20px;
    margin: 10px 0;
    background: #efc2b3;
    opacity: .7;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--blue);
}

.submit {
    background: #efc2b3;
    color: var(--blue);
    padding: 3px 20px;
    margin: 5px;
    border-radius: 20px;
    opacity: .7;
    text-transform: uppercase;
    font-weight: 600;
}

.banner {
    display: flex;
    position: absolute;
    top: 55px;
    left: 0;
    background: var(--lightOrange);
    color: var(--blue);
    margin: 5px;
    padding: 10px;
    width: 100vw;
    font-weight: 600;
    height: 85px;
    z-index: 5;
    font-size: 13px;
}

.modal {
    position: absolute;
    top: 65px;
    /*right: 0;*/
    background: darkgray;
    z-index: 51;
    width: 300px;
    height: 400px;
    text-align: center;
}

.modal h2 {
    margin: 10px 0;
}

.modal h3 {
    margin: 0 0 10px;
}

.modal input {
    background: #fff;
    border: 1px solid;
    color: #000;
    width: 250px;
    padding: 5px 0;
}

.modal button {
    background: var(--blue);
    color: #fff;
    padding: 5px;
    width: 250px;
    margin: 10px 0px;
    text-transform: uppercase;
    font-weight: 600;
}

.modal p {
    text-align: left;
    margin: 5px;
    line-height: 0.9;
}

.fa-times-circle {
    position: absolute;
    color: #fff;
    right: 1px;
    top: 18px;
}

.stop-scrolling {
    height: 100vh;
    overflow-y: hidden;
}

.none {
    display: none;
}

.mobile-none {
    display: none;
}

.show {
    display: block;
}

.show-popup {
    display: block;
    position: absolute;
    right: -100px;
    animation: slide 0.5s forwards;
}

#error-message {
    color: var(--orange);
}

@keyframes slide {
    100% { right: 0; }
}

@media (min-width: 1000px) {

    .desktop-none {
        display: none;
    }

    .mobile-none {
        display: block;
    }

    .desktop__nav {
        display: flex;
        width: 600px;
        justify-content: space-evenly;
    }

    .mobile__nav {
        position: initial;
        width: auto;
    }

    .logo {
        margin: 0;
    }

    nav {
        background: var(--blue);
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        width: 100%;
        height: 50px;
    }

    .banner {
        display: flex;
        position: absolute;
        top: 55px;
        left: 0;
        background: var(--lightOrange);
        color: var(--blue);
        margin: 5px;
        padding: 10px;
        width: 100vw;
        font-weight: 600;
        height: 85px;
        z-index: 5;
        font-size: 13px;
    }

    .banner {
        height: 50px;
        justify-content: space-evenly;
        align-items: center;
        position: absolute;
        padding: 0;
        font-size: 16px;
    }

    .modal {
        top: 110px;
    }

    .dropdown-content {
        display: none;
        background-color: #f9f9f9;
        max-width: 300px;
        height: 100px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 2;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(150%, 25%);
    }

    .show {
        display: block;
    }

    .first-section {
        background: url(images/shop-cta-desktop.webp);
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 600px;
        background-position: center;
        padding: 200px 0 0 900px;
    }

    .first-section h1 {
        font-size: 56px;
        margin-top: -100px;
    }

    .first-section p {
        font-size: 24px;
    }

    .create-own-console h1 {
        max-width: inherit;
    }

    .create-own-text h1 {
        max-width: inherit;
        font-size: 48px;
        margin: 50px;
    }

    .create-own-text p {
        text-align: center;
        font-size: 24px;
    }

    .create-own-banner {
        width: 100%;
        height: auto;
    }

    .traveler-image::after {
        content: "";
        background: url(images/Consoles_TravelerBracket1_Desktop.webp);
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        left: 0;
        width: 100%;
        height: 335px; /*need to know height */
    }

    .studio-image::after {
        content: "";
        background: url(images/Consoles_StudioBracket1_Desktop.webp);
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        right: 0;
        width: 100%;
        height: 335px;
    }

    .master-image::after {
        content: "";
        background: url(images/Consoles_MasterBracket1_Desktop.webp);
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        right: 0;
        width: 100%;
        height: 700px;
    }

    .core-image::after {
        content: "";
        background: url(images/Consoles_CoreBracket1_Desktop.webp);
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        left: 0;
        width: 100%;
        height: 225px;
    }

    .orbiter-image::after,
    .dialhero-image::after,
    .slider-image::after,
    .keys-image::after {
        height: 225px;
    }

    .console-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        padding: 50px 200px;
        gap: 50px;
    }

    .console-inner-flex {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    .master-console-div {
        grid-column: 1 / -1;
    }

    .modules-div {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        padding: 50px 200px;
        gap: 40px;
    }

    .footer__grid {
        grid-template-columns: repeat(4, 1fr);
    }

    footer {
        display: flex;
        flex-direction: row-reverse;
        position: relative;
    }

    .copyright-div {
        position: absolute;
        bottom: 0;
        right: 0;
    }

    .disclaimer {
        font-size: 14px;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    .disclaimer-flex {
        width: 400px;
        justify-content: space-between;
    }

    .side-panel,
    .side-panel-footer {
        width: 350px;
    }

    .none {
        display: none;
    }

    .show {
        display: block;
    }

    .show-popup {
        display: block;
        position: absolute;
        right: -100px;
        animation: slide 0.5s forwards;
    }

}

@media (min-width: 1500px){
    .traveler-image::after,
    .studio-image::after {
        height: 355px;
    }

    .master-image::after {
        height: 755px;
    }

    .core-image::after,
    .orbiter-image::after,
    .dialhero-image::after,
    .slider-image::after,
    .keys-image::after {
        height: 235px;
    }
}
